*{
    margin: 0;
    padding: 0;
}

.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btns {
  position: absolute;
  top: 75%;
  left: 77%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.container .btnr {
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container .btnp{
  position: absolute;
  top: 75%;
  left: 49%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container button{
  background-color: #c3556b;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
